{{ define "content" }}
    <div class="page-header">
        <h1>GDG Gigcity Code of Conduct</h1>
    </div>
    <p><abbr title="Google Developer Group" class="initialism">GDG</abbr> Gigcity is a chapter of the larger Google Developer community, as such we follow and enforce the <a href="https://developers.google.com/groups/guidelines/" target="blank">Google Developer Community Guidelines</a>.  We, the group organizers and/or event organizers, reserve the right to take any action that we see fit against any person or persons that are found to be in breach of these guidelines including; issueing a warning (verbal or written), asking the offending person or persons to leave the event, or expulsion from the group.</p>
    <p>If there are any questions or concerns about these guidelines, or to report a violation please feel free to reach out to any of the community organizers.  We will get back with you as soon as we can and answer your question or see to your concern/handle the issue.  When reporting a violation of our guidelines, please include the name person(s) involved, date & time of occurance, and if possible a copy of text/log if the incident happened via written means (email, social media, IRC, etc).</p>
    <h2>Who to contact</h2>
    <ul class="list-unstyled">
        {{ range . }}
        <li>{{ .Name }} - {{ .Role }}</li>
        <ul class="list-inline">
            <li><a href="mailto:{{ .Email }}">Email</a></li>
            <li><a href="{{ .GooglePlus }}">Google+</a></li>
            {{ if .IRC }}<li>{{ .IRC }} on Freenode</li>{{ end }}
        </ul>
        {{ end }}
    </ul>
    <p>Send general inquiries to <a href="mailto:contact@gdggigcity.com">contact (at) gdggigcity.com</a></p>
{{ end }}